{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Program</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>Affiche</th>
                <td>{{ program.poster }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ program.country }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ program.year }}</td>
            </tr>
            <tr>
                <td><strong>Acteurs:</strong>
                    <td>
                        <ul>
                            {% for actor in program.actors %}
                            <a href="{{ path('actor_show', {'id':actor.id}) }}"><li>{{ actor.name }} </li></a>
                            {% else %}
                                <li>Aucun acteur pour cette série</li>
                            {% endfor %}
                        </ul>
                    </td>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('program_index') }}">retour à la liste</a>

    <a href="{{ path('program_edit', {'id': program.id}) }}">éditer</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
