{% extends  'base.html.twig' %}

{% block title %}Toutes les épisodes de la saison {{season.id}} {% endblock %}

{% block body %}
    <h1>Les épisodes de la saison {{ season.id}} de  {{ program.title }}</h1>
    <p> {{season.description}}</p>
    {%  for episode in episodes %}
        <div>
            <a href={{ path('wild_show_episode',{'id': episode.id}) }}>Episode {{ episode.number }} : {{ episode.title }}</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}

