{# templates/index.html.twig #}
{% extends  'base.html.twig' %}
{% block body %}
<h1>Bienvenue les Amigos sur le site des séries DINGOS</h1>
    <h3>Les Séries</h3>
    {% for program in programs %}
        <a href="{{ path('program_show', {'slug': program.slug}) }}">{{ program.title }}</a>
        <br>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
{#    <br>#}
{#    <a href="{{ path('category_show', {'id': program.id}) }}"><h3>Les catégories de séries</h3></a>#}
{#     <br>#}
{#    <a href="{{ path('actor_show', {'id': program.id}) }}"><h3>Les acteurs</h3></a>#}
    <br>
    <h3>Tests</h3>
<a href="{{ path('wild_index') }}">
    Testing index() method from WildController to view all programs.
</a>
<br>
<a href="{{ path('wild_show_category',{'categoryName': "Horreur"}) }}">
    Testing showByCategory() method from WildController to view the last 3 programs of a category.
</a>
{% endblock %}
